*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    /*background: black;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.warp{
    position: relative;
}
.out{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.li_items{
    width: 100%;
    height: 414px;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    float: left;
    overflow: hidden;
}
.first_left{
    width: 60%;
    position: relative;
    opacity: 0;
}
.runup{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.first_wen{
    display: inline-block;
    margin-right: -5px;
    width: 31px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    color: white;
    opacity: 0;
}
.first_wen:nth-of-type(2){
    background-position: -30px 0;
}
.first_wen:nth-of-type(3){
    background-position: -60px 0;
}
.first_wen:nth-of-type(4){
    background-position: -90px 0;
}
.first_wen:nth-of-type(5){
    background-position: -122px 0;
}
.first_wen:nth-of-type(6){
    background-position: -150px 0;
}
.first_wen:nth-of-type(7){
    background-position: -182px 0;
}
.first_wen:nth-of-type(9){
    background-position: -229px 0;
}
.first_wen:nth-of-type(10){
    background-position: -259px 0;
}
.first_wen:nth-of-type(11){
    background-position: -289px 0;
}
.first_wen:nth-of-type(12){
    background-position: -319px 0;
}
.first_wen:nth-of-type(13){
    background-position: -349px 0;
}
.first_wen:nth-of-type(14){
    background-position: -379px 0;
}
.rundown{
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.first_third{
    opacity: 0;
    position: absolute;
    top: 5%;
    right: 15%;
}
.first_year{
    opacity: 0;
    position: absolute;
    top: 45%;
    right: 7%;
}
.first_bottom{
    width: 430px;
    position: absolute;
    overflow: hidden;
    bottom: 20%;
    right: 1%;
}
.first_zhe{
    width: 100%;
    height: 50px;
    color: white;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
}
.first_car{
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0);
}
.second_bg{
    width: 5000px;
    height: 294px;
    border-bottom: 3px solid #ccc;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
}
.second_lou{
    position: absolute;
    width: 2000px;
    height: 139px;
    overflow: hidden;
    top: 155px;
    left: 0;
    z-index: 9;
}
.second_grass{
    position: absolute;
    left: 835px;
    top: 295px;
    z-index: 20;
}
.second_moun1{
    position: absolute;
    left: 200px;
    top: 45px;
    z-index: 1;
    transform-origin: left bottom;
    transform: rotate(90deg);
}
.second_moun2{
    position: absolute;
    left: 1000px;
    top: 45px;
    transform-origin: left bottom;
    transform: rotate(90deg);
    z-index: 1;
}
.second_items{
    float: left;
    margin-top: 155px;
    overflow: hidden;
}
.second_year{
    width: 300px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: 200px;
    left: 40px;
    z-index: 99;
}
.second_year>span{
    display: inline-block;
    width: 35px;
    height: 65px;
    overflow: hidden;
    color: white;
    background-repeat: no-repeat;
    background-size: 150px 35px;
    opacity: 0;
}
.second_year>span:nth-of-type(2){
    background-position:-50px 0;
}
.second_year>span:nth-of-type(3){
    background-position:-83px 0;
}
.second_year>span:nth-of-type(4){
    background-position:-117px 0;
}
.peoout{
    position: fixed;
    left: -100px;
    top: 180px;
    z-index: 999;
}
.car{
    position: fixed;
    left: -270px;
    top: 270px;
    display: none;
}
.car_left{
    position: absolute;
    width: 42px;
    height: 42px;
    left: 43px;
    top: 55px;
}
.car_right{
    left: 198px;
    top: 53px;
}
.third_bg{
    position: absolute;
    top: 100px;
    left:0;
}
.third_mid{
    width: 180px;
    height: 25px;
    position: absolute;
    /*opacity: 0;*/
    top: 80px;
    left: 35%;
}
.third_wenzi{
    width: 390px;
    height: 174px;
    position: absolute;
    left: 5px;
    top: -130px;
}
.third_car{
    width: 120px;
    height: 100px;
    position: absolute;
    top: 270px;
    opacity: 0;
}
.third_ltwocar,.third_rtwocar{
    width: 100px;
}
.third_lcar,.third_ltwocar{
    left: -120px;
}
.third_rcar,.third_rtwocar{
    right: -120px;
}


.fourth,.fifth{
    width: 2000px;
    height: 300px;
    position: absolute;
    border-bottom: 3px solid #ccc;
    left: 0;
    top: 0;
    overflow: hidden;
}
.fourth_bg{
    float: left;
    margin-top: 300px;
}
.fifth_bg{
    float: left;
    position: relative;
}
.door{
    width: 200px;
    height: 132px;
    position: absolute;
    left: 76px;
    top: 132px;
    background-position: 50px 50px;
    background-size: 100px;
    background-repeat: no-repeat;
}
.door_one,.door_two{
    width: 50px;
    height: 132px;
    overflow: hidden;
    float: left;
}
.door_three,.door_four{
    width: 50px;
    height: 132px;
    position: absolute;
    left: 50px;
    top: 0;
}
.door_three{
    transform-origin:0 0;
}
.door_four{
    transform-origin:50px 0;
}
.door_four{
    left: 100px;
}
.door_two{
    float: right;
}
.fifth_wenzi{
    width: 330px;
    position: absolute;
    background: white;
    color: transparent;
    left: 750px;
    top: 80px;
    border: 2px solid #2d85b5;
}
.fifit_wenzi_bg,.fifth_wenzi_last_bg{
    height: 36px;
    background-repeat: no-repeat;
    background-size: 330px 160px;
    opacity: 0;
}
.fifit_wenzi_bg:nth-of-type(2),.fifth_wenzi_last_bg:nth-of-type(2){
    background-position: 0 -37px;
}
.fifit_wenzi_bg:nth-of-type(3),.fifth_wenzi_last_bg:nth-of-type(3){
    background-position: 0 -83px;
}
.fifit_wenzi_bg:nth-of-type(4),.fifth_wenzi_last_bg:nth-of-type(4){
    background-position: 0 -126px;
}
.fifth_wenzi_last{
    width: 330px;
    position: absolute;
    left: 0;
    top: 4px;
}

.fifth_zhi{
    width: 200px;
    height: 205px;
    position: absolute;
    left: 430px;
    top: 230px;
    opacity: 0;
}
.fifth_he{
    position: absolute;
    left: 16px;
    top: -350px;
}
.fifth_id{
    position: absolute;
    left: 115px;
    top: -300px;
}
.fifth_zhang{
    position: absolute;
    left: 68px;
    top: -300px;
}
.fifth_flowone{
    position: absolute;
    left: 255px;
    top: 300px;
}
.fifth_flowtwo{
    position: absolute;
    left: 0;
    top: 300px;
}
.fifth_flowthree{
    position: absolute;
    left: 50px;
    top: 278px;
}
.fifth_flowfour{
    position: absolute;
    left: 235px;
    top: 275px;
}
.fifth_flowfive{
    position: absolute;
    left: 85px;
    top: 260px;
}
.fifth_flowsix{
    position: absolute;
    left: 220px;
    top: 260px;
}
.fitth_flowers{
    opacity: 0;
}
.sixth{
    color: white;
    width: 500px;
    height: 414px;
    position: relative;
    background-repeat: no-repeat;
    background-size: 500px 414px;
    float: left;
}
.sixth_zhezhao{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 736px;
    top: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99;
}
.sixth_map{
    width: 500px;
    height: 414px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.sixth_zhe{
    width: 500px;
    height: 414px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    background-size: 500px 414px;
}
.sixth_right{
    width: 236px;
    height: 414px;
    float: right;
    position: relative;
}
.sixth_top{
    width: 100%;
    /*margin-top: 150px;*/
    position: absolute;
    left: 0;
    top: 150px;
    z-index: 200;
}
.sixth_wenzi3000{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.sixth_times{
    width: 100%;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 236px 100px;
    opacity: 0;
}
.sixth_times:nth-of-type(2){
    background-position: 0 -26px;
}
.sixth_times:nth-of-type(3){
    background-position: 0 -50px;
}
.sixth_times:nth-of-type(4){
    background-position: 0 -75px;
}
.sixth_bottom{
    position: absolute;
    right: -450px;
    bottom: 15px;
}
.sixth_table{
    width: 300px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    left: 155px;
    top: 45px;
}
.sixth_table_items{
    position: absolute;
    z-index: 200;
    left: 0;
    top: 0px;
}
.sixth_table_items:first-of-type{
    opacity: 0;
}
.sixth_table_items:nth-of-type(2){
    opacity: 0;
    top: 5px;
}
.sixth_table_items:nth-of-type(3){
    top: 230px;
}
.sevevth_out{
    width: 2050px;
    height: 414px;
    position: absolute;
    left: 0px;
    top: 0;
}
.sevevth_wall{
    /*width: 100%;*/
    /*height: 300px;*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    font-size: 0;
    float: left;
}
.sevevth_door{
    position: absolute;
    left: 100px;
    top: 105px;
    transform-origin: left;
    transform: rotateY(90deg);
}
.sevevth_bgout{
    float: left;
    margin-top: 119px;
}
.sevevth{
    width: 2000px;
    height: 300px;
    float: left;
    position: absolute;
    border-bottom: 3px solid #ccc;
    left: 200px;
    top: 0;
    overflow: hidden;
}
.sevevth_bg{
    margin-top: 150px;
    float: left;
}
.sevevth_tower1,.sevevth_tower2,.sevevth_tower3,.sevevth_house,.sevevth_tree,.sevevth_lou,.sevevth_wenzi1,.sevevth_wenzi2,.sevevth_year{
    position: absolute;
    left: 240px;
    top: 30px;
}
.sevevth_grass{
    position: absolute;
    left: 160px;
    top: 210px;
}
.sevevth_tower1{
    left: 240px;
    top: -310px;
}
.sevevth_tower2{
    left: 370px;
    top: -260px;
}
.sevevth_tower3{
    left: 580px;
    top: -240px;
}
.sevevth_house{
    left: 935px;
    top: 105px;
    transform-origin: left bottom;
    transform: rotate(90deg);
}
.sevevth_tree{
    left: 1245px;
    top: 50px;
    transform-origin: left bottom;
    transform: rotate(90deg);
}
.sevevth_lou{
    left: 1320px;
    top: 50px;
}
.sevevth_wenzi1{
    left: 450px;
    top: 30px;
    transform: scale(0);
}
.sevevth_wenzi2{
    left: 1550px;
    top: 10px;
    transform: scale(0);
}
.sevevth_year{
    left: 0;
    top: 200px;
    opacity: 0;
}

.eighth{
    width: 5000px;
    height: 300px;
    position: absolute;
    border-bottom: 3px solid #ccc;
    left: 0;
    top:0;
}
.eighth_bg{
    float: left;
}
.eighth_bg:first-of-type{
    margin-top: 100px;
}
.eighth_bg:nth-of-type(3){
    margin-top: 200px;
}
.eighth_car1{
    position: absolute;
    left: 500px;
    top: 300px;
}
.eighth_car2{
    position: absolute;
    left: 600px;
    top: 310px;
}
.eighth_car3{
    position: absolute;
    left: 735px;
    top: 305px;
}
.eighth_car4{
    position: absolute;
    left: 1035px;
    top: 305px;
}
.eighth_car5{
    position: absolute;
    left: 1135px;
    top: 305px;
}
.eighth_time{
    width: 156px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    right: 80px;
    top: 230px;
    z-index: 99;
    /*opacity: 0;*/
}
.eighth_time>span{
    display: inline-block;
    width: 35px;
    height: 65px;
    overflow: hidden;
    color: white;
    background-repeat: no-repeat;
    background-size: 150px 35px;
    opacity: 0;
}
.eighth_time>span:first-of-type{
    background-position:-5px 0;
}
.eighth_time>span:nth-of-type(2){
    background-position:-40px 0;
}
.eighth_time>span:nth-of-type(3){
    background-position:-75px 0;
}
.eighth_time>span:nth-of-type(4){
    background-position:-110px 0;
}
.eighth_text1{
    position: absolute;
    left: 555px;
    top: 120px;
    transform: scale(0);
}
.eighth_text2{
    position: absolute;
    background: white;
    left: 815px;
    top: 50px;
    opacity: 0;
}
.eighth_text3{
    position: absolute;
    left: 1085px;
    top: 120px;
    transform: scale(0);
}
.eighth_text4{
    position: absolute;
    background: white;
    left: 1550px;
    top: 50px;
    opacity: 0;
}
.eighth_renke1,.eighth_renke2{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.eighth_yanhua{
    position: absolute;
    top: 610px;
    left: 552px;
}
.suipian{
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    transform: rotate3d(1,0,1,40deg) scale(4);
}
.nigth_top{
    width: 900px;
    position: absolute;
    left: -65px;
    top: 20px;
}
.nigth_items{
    width: 18%;
    float: left;
}
.nigth_items:nth-of-type(4){
    margin-left: 65px;
}
.nigth_bottom{
    position: absolute;
    left: 0;
    top: 200px;
}
.nigth_text{
    position: absolute;
    width: 150px;
    height: 120px;
    left: 320px;
    top: 20px;
}
.nigth_text_bg{
    width: 100%;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 150px 100px;
    opacity: 0;
}
.nigth_text_bg:first-of-type{
    background-position: 0 -13px;
}
.nigth_text_bg:nth-of-type(2){
    background-position: 0 -36px;
}
.nigth_text_bg:nth-of-type(3){
    background-position: 0 -60px;
}
.nigth_ple{
    position: absolute;
    width: 64px;
    left: 382px;
    top: 0;
    z-index: 10;
}
.nigth_times{
    position: absolute;
    right: 80px;
    top: 20px;
    transform-origin: left bottom;
    transform: rotate(110deg);
    z-index: 99;
}
.nigth_year{
    position: absolute;
    left: 15px;
    top: 35px;
}
.nigth_textbg{
    position: absolute;
    left: 0;
    top: -2px;
    opacity: 0;
}
.nigth_textbg:last-of-type{
    top: -9px;
}
.nigth_zhezhao{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    z-index: 20;
}
/*.nigth{*/
    /*border-left: 1px solid #99CBE4;*/
/*}*/

.tenth_road{
    position: absolute;
    left: 0;
    top: 0;
}
.ten{
    /*transform: scale(0);*/
    opacity: 0;
}
.tenth_road_run{
    transform-origin: 446px 170px;
    transform: scale(0);
}
.tenth_run{
    position: absolute;
    transform-origin: 446px 170px;
    transform: scale(0);
}
.tenth_run1{
    left: 30px;
    top: 10px;
}
.tenth_run2{
    left: 30px;
    top: 20px;
}
.tenth_run3{
    left: 30px;
    top: 300px;
    transform-origin: 450px -150px;
}
.tenth_run4{
    left: 620px;
    top: 195px;
    transform-origin: -200px -30px;
}
.tenth_run5{
    left: 680px;
    top: 380px;
    transform-origin: -270px -240px;
}
.tenth_run6{
    left: 625px;
    top: 380px;
    transform-origin: -200px -240px;
}
.tenth_runcar{
    position: absolute;
    left: 117px;
    top: 414px;
    transform-origin: 330px -120px;
}

.eleventh{
    position: absolute;
    left: 0;
    top: 0;
}
.eleventh_car{
    position: absolute;
    left: 545px;
    top: 300px;
    transform-origin: -776px -92px;
}
.eleventh_text{
    position: absolute;
    left: -515px;
    top: 210px;
}
.eleventh_bg{
    position: absolute;
    left: 0;
    top: 0;
}
.eleventh_bottombg{
    position: absolute;
    left: 0;
    top: 0;
}
.eleventh_all{
    transform: rotateY(90deg);
}

.dise{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
@media (max-width: 414px) {
    .first_third{
        width: 80px;
    }
    .first_year{
        right: 2%;
    }
    .first_bottom{
        width: 180px;
        bottom: 10%;
    }
}